body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans';
    color: var(--main-text-color);
    overflow-x: hidden;
}

body .content-container
{
    display: flex;
    flex-direction: row;
    max-width: 1680px;
    width: calc(100% - 53px * 2);
    margin-left: 58px;
    margin-right: 58px;
}

#company-presentation
{
    gap: 23px;
}

#company-presentation .text-container
{
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 20px;
}

#company-presentation .text-container .title
{
    font-family: 'Montserrat';
    font-size: 60px;
    text-shadow: 0px 2px 0px rgba(34, 34, 34, 0.10);
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 20px;
}

#company-presentation .text-container .title span
{
    color: var(--main-site-color);
    text-shadow: none;
}

#company-presentation .text-container .text
{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

#company-presentation .text-container .button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 52px;
    border-radius: 4px;
    background-color: var(--main-site-color);
    font-size: 16px;
    font-weight: 700;
    color: white;
}

#company-presentation .slider
{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#company-presentation .slider .slider-card
{
    position: absolute;
    left: -200px;
    z-index: -1;
    display: flex;
    opacity: 0;
    max-width: 791px;
    width: 100%;
    height: 404px;
    background-color: var(--substrate-color);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0.5);
    filter: brightness(0.5);
    transition-property: opacity, transform, left, z-index, filter, right;
    transition-duration: 1s;
}

#company-presentation .slider .slider-card .logo
{   
    position: absolute;
    bottom: 36px;
    left: 31px;
    height: 50px;
    z-index: 1;
}

#company-presentation .slider .slide-index-viewer
{
    position: absolute;
    top: 420px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#company-presentation .slider .slide-index-viewer .point
{
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: var(--main-site-color);
    transition: 1s;
}

.slider > .select
{
    opacity: 1 !important;
    z-index: 1 !important;
    left: 0 !important;
    transform: scale(1) !important;
    filter: none !important;
    transition-property: left, transform, opacity, filter;
    transition-duration: 1s;
}

.slider > .select + .slider-card,
.slider:has(.select:last-child) .slider-card:first-child
{
    opacity: 1 !important;
    transform: scale(0.9) !important;
    left: calc(100% - 100px) !important;
    z-index: 0 !important;
    transition-property: left, opacity, filter;
    transition-duration: 1s;
}

.slider .slide-index-viewer .select
{
    width: 40px !important;
    transition: 1s;
}

@media screen and (min-width: 1400px)
{
    .slider > .select + .slider-card,
    .slider:has(.select:last-child) .slider-card:first-child
    {
        left: 600px !important;
    }
}

@media screen and (max-width:1000px) {
    body .content-container
    {
        width: calc(100% - 42px * 2);
        margin-left: 42px;
        margin-right: 42px;
    }
}

@media screen and (max-width:900px) {
    body .content-container
    {
        width: calc(100% - 10px * 2);
        margin-left: 10px;
        margin-right: 10px;
    }
}