body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans';
    color: var(--main-text-color);
    overflow-x: hidden;
    height: 2000px;
}

body .content-container
{
    display: flex;
    flex-direction: row;
    max-width: 1680px;
    width: calc(100% - 53px * 2);
    margin-left: 58px;
    margin-right: 58px;
}

@media screen and (max-width:1000px) {
    body .content-container
    {
        width: calc(100% - 42px * 2);
        margin-left: 42px;
        margin-right: 42px;
    }
}

@media screen and (max-width:900px) {
    body .content-container
    {
        width: calc(100% - 10px * 2);
        margin-left: 10px;
        margin-right: 10px;
    }
}