.news-banner
{
    flex-direction: column !important;
    margin-top: 30px;
}

.news-banner .background-image
{
    position: absolute;
    left: -25px;
    width: calc(100vw + 50px);
    height: 780px;
    background-size: cover;
    background-position: center;
    z-index: -1 !important;
    transform: rotate(3deg);
}

.news-banner .background-image::before
{
    content: '';
    z-index: -2 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4F4F4F;
    opacity: 0.85;
}

.news-banner > .title
{
    display: flex;
    color: #FEFEFE;
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    height: 65px;
    letter-spacing: -0.41px;
    align-items: center;
}

.news-banner .buttons-container
{
    display: flex;
    gap: 12px;
}

.news-banner .buttons-container .radio-label
{
    position: relative;
    padding: 12px 24px;
    color: #F5F5F5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.21px;
    border-radius: 4px;
    box-sizing: content-box;
}

.news-banner .buttons-container .radio-label:has(input[type='radio']:checked)
{
    font-weight: 700;
    background-color: var(--main-site-color);
}

.news-banner .buttons-container .radio-label input[type='radio']
{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.news-banner .news-container
{
    margin-top: 56px;
    width: 100%;
    border-radius: 4px;
}

.news-banner .news-container .news-card
{
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 391px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 28px 104px 0px rgba(41, 41, 41, 0.15);
    padding: 20px 18px;
    box-sizing: border-box;
    gap: 9px;
    cursor: pointer;
}

.news-banner .news-container .news-card .preview-image
{
    width: 100%;
    height: 221px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0px 5px 64px -32px rgba(34, 60, 80, 1);
}

.news-banner .news-container .news-card > .title
{
    color: #151D0C;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.09px;
}

.news-banner .news-container .news-card > .text
{
    color: #8A8E85;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.news-banner .news-container .news-card > .about-container
{
    display: flex;
    gap: 15px;
}

.news-banner .news-container .news-card .date
{
    color: #30475E;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
}

.news-banner .news-container .news-card .type
{
    color: var(--main-site-color);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
}

.news-banner .mobile-title
{
    display: none;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 26px;
}

.news-banner .mobile-title .title
{
    color: #151D0C;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.09px;
}

.news-banner .mobile-title .more-button
{
    color: var(--main-site-color);
    text-align: right;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.182px;
}

.news-banner .news-container .more-button
{
    display: none;
    width: 100%;
}

@media screen and (max-width:900px)
{
    .news-banner .mobile-title
    {
        display: flex;
    }

    .news-banner > .title
    {
        display: none;
    }
    .news-banner .background-image
    {
        display: none;
    }

    .news-banner .buttons-container .radio-label:not(:has(input[type='radio']:checked))
    {
        color: #8A8E85 !important;
    }
}

@media screen and (max-width:730px)
{
    .news-banner .news-container
    {
        overflow: visible !important;
    }

    .news-banner .news-container .news-card
    {
        width: 100% !important;
        height: auto !important;
        box-shadow: 0px 28px 104px 0px rgba(41, 41, 41, 0.15) !important;
    }

    .news-banner .news-container .news-card .preview-image
    {
        height: 50vw !important;
    }

    .news-banner .news-container .news-card:not(:nth-child(n+3))
    {
        display: flex;
    }

    .news-banner .news-container .more-button
    {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 15px;
    }

    .news-banner .news-container .news-card.invisible
    {
        display: none;
    }

    .news-banner .news-container .more-button span
    {
        width: 100%;
        color: #121212;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
    }

    .news-banner .news-container .more-button::before
    {
        content: '';
        position: absolute;
        height: 100%;
        aspect-ratio: 1/1;
        background-color: var(--main-site-color);
        mask-image: url(../../images/icons/arrow-right.svg);
        -webkit-mask-image: url(../../images/icons/arrow-right.svg);
        mask-position: center;
        -webkit-mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        transform: rotate(90deg);
    }
}