#selection-by-car
{
    display: flex;
    flex-direction: row;
    margin-top: 125px;
}

#selection-by-car .text-container
{
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 25px;
}

#selection-by-car .text-container .title
{
    display: flex;
    align-items: center;
    height: 65px;
    color: var(--main-site-color);
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.41px;
}

#selection-by-car .text-container .text
{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

#selection-by-car .selectors-container
{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    max-width: 725px;
    gap: 15px
}

#selection-by-car .selector
{
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    width: 355px;
    height: 45px;
    gap: 16px;
    cursor: pointer;
}

#selection-by-car .selector.active
{
    z-index: 4 !important;
}

#selection-by-car .selector .select-item
{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border: 0.8px solid var(--input-border-default);
    border-radius: 2px;
    background-color: white;
}

#selection-by-car .selector .select-item > .value
{
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 100%;
    width: 100%;
    gap: 14px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text-color);
    box-sizing: border-box;
}

#selection-by-car .selector:not([value="#"]) .select-item > .value
{
    width: calc(100% - 72px) !important;
    color: black;
}

#selection-by-car .selector:not([value="#"]) .clear
{
    content: "";
    position: absolute;
    right: 48px;
    background-color: black;
    width: 24px;
    height: 24px;
    mask-image: url(../../images/icons/cross.svg);
    -webkit-mask-image: url(../../images/icons/cross.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    transition: .5s;
    z-index: 4;
}

#selection-by-car .selector .select-item::after
{
    content: "";
    position: absolute;
    right: 16px;
    background-color: black;
    width: 24px;
    height: 24px;
    mask-image: url(../../images/icons/more-arrow.svg);
    -webkit-mask-image: url(../../images/icons/more-arrow.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    transition: .5s;
}

#selection-by-car .selector.active .select-item::after
{
    transform: rotate(180deg);
    transition: .5s;
}

#selection-by-car .selector.active .select-item
{
    border-color: var(--input-border-selected);
}

#selection-by-car .selector .items-list
{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 51px;
    width: 100%;
    max-height: 255px;
    background-color: white;
    border: 0.8px solid var(--input-border-default);
    box-sizing: border-box;
}

#selection-by-car .selector.active .items-list
{
    display: flex;
}

body:has(#selection-by-car .selector.active) .blackout-screen
{
    display: block;
}

#selection-by-car .selector.active .items-list .item
{
    position: relative;
    display: flex;
    width: 100%;
    height: 51px;
    padding: 8px 16px;
    align-items: center;
    box-sizing: border-box;
    gap: 14px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#selection-by-car .selector.active .items-list .item.select::after
{
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    right: 16px;
    background-color: black;
    mask-image: url(../../images/icons/check-mark.svg);
    -webkit-mask-image: url(../../images/icons/check-mark.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

#selection-by-car .button
{
    background-color: var(--main-site-color);
    width: 355px;
    height: 52px;
    top: -4px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

#selection-by-car .selector.active .items-list .item:hover
{
    background-color: #eee;
}

#selection-by-car .background
{
    position: absolute;
    right: -800px;
    top: -200px;
    z-index: -5;
}

#selection-by-car .mobile-selector
{
    display: none;
    width: 100%;
    border: 1px solid var(--main-site-color);
    border-radius: 4px;
    height: 48px;
    padding: 10px 8px;
    gap: 8px;
    align-items: center;
    color: var(--input-border-default);
    box-sizing: border-box;
    background-color: white;
}

#selection-by-car .mobile-selector::before
{
    content: '';
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--main-site-color);
    mask-image: url(../../images/icons/car-icon.svg);
    -webkit-mask-image: url(../../images/icons/car-icon.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

@media screen and (min-width: 1860px) {
    #selection-by-car .selectors-container
    {
        height: 120px !important;
    }
}

@media screen and (max-width: 1860px) {

    #selection-by-car .selectors-container
    {
        height: 100% !important;
        flex-direction: column;
    }

    #selection-by-car .selector
    {
        width: 30vw !important;
        min-width: 320px;
    }

    #selection-by-car .button
    {
        width: 30vw !important;
        min-width: 320px;
    }
}

@media screen and (max-width:1200px) {
    #selection-by-car
    {
        flex-direction: column;
    }

    #selection-by-car .text-container
    {
        margin-bottom: 50px;
        width: 100%;
    }
}

@media screen and (max-width:900px)
{
    #selection-by-car .text-container
    {
        display: none;
    }

    #selection-by-car .selectors-container
    {
        display: none;
    }

    #selection-by-car
    {
        margin-top: 15px;
    }

    #selection-by-car .selectors-container .background
    {
        display: none;
    }

    #selection-by-car .mobile-selector
    {
        display: flex;
    }
}